<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


    <meta name="application-name" content="Kendo Music Store Sales Dashboard" />
    <meta name="msapplication-TileColor" content="#EF8549" />
    <meta name="msapplication-TileImage" content="kendo-music-pinned-tile.png" />

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">


    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/home-view.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/social-view.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/sales-view.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/kendo.moonlight.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/kendo.dataviz.moonlight.min.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <header id="main-header">
        <h1 class="main-title">Music Store Sales</h1>
        <nav class="main-nav">
            <a href="#"><span class="main-nav-item nav-music"><span class="main-nav-item-icon nav-music-icon"></span></span></a>
            <a href="#/sales"><span class="main-nav-item nav-sales"><span class="main-nav-item-icon nav-sales-icon"></span></span></a>
            <a href="#/social"><span class="main-nav-item nav-social"><span class="main-nav-item-icon nav-social-icon"></span></span></a>
        </nav>
    </header>
    @RenderBody()

    <footer class="main-footer">
        <a href="http://www.telerik.com" title="Telerik"><img src="@Url.Content("~/img/telerik-logo-transparent.png")" alt="Telerik" height="80" width="230" class="telerik-logo" /></a>
        <a href="http://www.kendoui.com" title="Kendo UI"><img src="@Url.Content("~/img/kendo-ui-logo.png")" alt="Kendo UI" height="80" width="230" class="kendo-logo" /></a>
        <a href="http://Riaconsultingllc.com" title="Telerik"><img src="@Url.Content("~/img/RiaFontBlue.png")" alt="RIA Consulting" class="ria-logo" width="303" height="32" /></a>
    </footer>

    @RenderSection("templates", required: false)

    <script type="text/javascript">
        var baseUrl = '@Url.Content("~").TrimEnd('/')';
    </script>
    <script src="@Url.Content("~/js/libs/jquery-2.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/libs/kendo.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/app/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/app/mainView.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/app/salesView.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/app/socialView.js")" type="text/javascript"></script>
    <script type="text/javascript">
        window.musicDashboard.setup();
    </script>
</body>
</html>
