<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Kendo UI Music Store</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/normalize.css" rel="stylesheet" />
        <link href="~/Content/themes/base/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/themes/base/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Content/themes/base/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div id="wrapper">
        <header>
            <div class="container">
                <h1><a href="/">Awesome Sauce Music Store</a></h1>


                <section class="login-button">
                    @Html.Partial("_LoginPartial")
                </section>

                <nav>

                    <ul id="menu" data-role="menu" class="k-widget k-reset k-header k-menu k-menu-horizontal" style="opacity:0;">
             
                        <li class="k-item k-state-default k-first">Genres
                            <ul style="display:none;">
                                @{Html.RenderAction("GenreMenu", "Store");}
                            </ul>
                        </li>
                        <li class="k-item k-state-default">About
                            <ul style="display:none;">
                                <li>
                                    <div class="k-content menu-content">
                                        <img src="~/Images/kendo-logo.png" />
                                        <p>Try Kendo UI yourself in the interactive Kendo UI Dojo!</p>
                                        <p><a href="http://www.kendoui.com/dojo.aspx" target="_blank" class="k-button">Launch Kendo UI Dojo</a></p>
                                        <p>Want to know how this application was made?</p>
                                        <p><a href="https://github.com/telerik/kendo-music-store" target="_blank" class="k-button">View the Source on GitHub</a>
                                        <a href="http://docs.kendoui.com/tutorials/ASP.NET/Kendo%20Music%20Store/kendo-music-store-intro" target="_blank" class="k-button">View the Music Store Documentation</a></p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="k-item k-state-default k-last">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class="k-link" })</li>
                    </ul>
                </nav>
           
                <section class="cart-search" id="cart-search" style="opacity:0;">
                    <span class="k-widget k-autocomplete k-header k-input k-state-default">
                        <input id="main-search" class="k-input" placeholder="Search music..." />
                    </span>
                    <ul id="cart-menu" class="k-widget k-reset k-header k-menu k-menu-horizontal"></ul>
                </section>
            </div>
        </header>

        <div id="body" style="opacity:0;">
            @RenderBody()
        </div>
    </div>
        <footer>
            <section class="container">
                <ul>
                    <li><a href="http://www.telerik.com"><img src="/content/images/telerik-logo.png" alt="Telerik" /></a></li>
                    <li><a href="http://www.kendoui.com"><img src="/images/kendo-logo.png" alt="Kendo UI"/></a></li>
                </ul>
            </section>
        </footer>

        @Html.Partial("_AlbumDetailsTemplatePartial")
        @Html.Partial("_SearchResultTemplatePartial")

        <script src="~/Scripts/kendo.all.min.js"></script>
        @Scripts.Render("~/bundles/libs")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)

        <script>
            //FOUJUI FIX - Reveal body after UI initilization completes
            $("#body").css("opacity", 1);
        </script>
    </body>
</html>
